/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'ojikunFont';
  src: url('../font/PathwayGothicOne-Regular.ttf') format("truetype");
}

body {
  @apply tracking-wider;
  font-family: 'ojikunFont';
  background-color: #151515;
  color: #fdfdfd;
}
